<!-- form_for @article do |f|  -->	<!-- <form id="new_article" class="new_article" method="post" action="/articles" accept-charset="UTF-8"> -->
<%= form_for @article, html: {class: "form-horizontal",role: "form"} do |f| %> 	<!-- <form id="new_article" class="form-horizontal" role="form" method="post" action="/articles" accept-charset="UTF-8"> -->
	<% if @article.errors.any? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
		        <strong>
		        	<%= pluralize(@article.errors.count, "errores") %> no permiten
		        	que este articulo se guarde:
		        </strong>
		    <ul>
		        <% @article.errors.full_messages.each do |msg| %>
		            <li><%= msg %></li>
		        <% end %>
		    </ul>
		</div>
	<% end %>

	<div class="form-group">
	    <%= f.label :titulo, :class => 'control-label' %><br>		<!-- <label for="article_titulo" class="control-label">Titulo</label>-->
	    <div class="col-sm-7">
	    	<%= f.text_field :title, :placeholder => 'Titulo', :class => 'form-control' %>  	<!-- <input type="text" id="article_title" name="article[title]" placeholder="Titulo" class="form-control"> -->
	    </div>
	</div>

	<div class="form-group">
	    <%= f.label :texto, :class => 'control-label' %><br>		<!-- <label for="article_texto" class="control-label">Texto</label>-->
	    <div class="col-sm-7">
	    	<%= f.text_area :text, :placeholder => 'Texto' %> 	<!-- <textarea id="article_text" name="article[title]" placeholder="Texto"></textarea> -->
	    </div>
	</div>
	<p>
	    <%= f.submit 'Crear Articulo', :class => 'btn btn-success' %>
	</p>
<% end %>